<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pet_shop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pet_shop"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyPet"
        tools:targetApi="31"
        android:name=".MyApplication">

        <activity
            android:name=".ui.activity.List_User_Activity"
            android:exported="false"
            android:parentActivityName=".ui.activity.List_User_Activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.PatientActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.PatientActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.ListDoctorActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddBillActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AddBillActivity" />
        <activity
            android:name=".ui.activity.AnimalActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AnimalActivity"
            />
        <activity
            android:name=".ui.activity.UsersInforActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.UsersInforActivity" />
        <activity
            android:name=".ui.activity.DetailUsersActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.DetailUsersActivity" />
        <activity
            android:name=".ui.activity.AddBookingActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AddBookingActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddAnimalActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AddAnimalActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.QuanLyPet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths_animal" />
        </provider>

        <activity
            android:name=".ui.activity.DoctorInforActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.DoctorInforActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddDoctorActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AddDoctorActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddPatientActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AddPatientActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
    </application>

</manifest>